################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NP.Roxy.CompositeGetters/.vs/NP.Roxy.CompositeGetters/v15
/NP.Roxy.CompositeGetters/bin/Debug
/NP.Roxy.CompositeGetters/obj/Debug
/NP.Roxy.CompositeGetters/packages
/NP.Roxy.StrongTypeEnumTest/.vs/NP.Roxy.StrongTypeEnumTest/v15
/NP.Roxy.StrongTypeEnumTest/bin/Debug
/NP.Roxy.StrongTypeEnumTest/obj/Debug
/NP.Roxy.StrongTypeEnumTest/packages
/NP.Roxy.StrongTypeMethodTest/.vs/NP.Roxy.StrongTypeMethodTest/v15
/NP.Roxy.StrongTypeMethodTest/bin/Debug
/NP.Roxy.StrongTypeMethodTest/obj/Debug
/NP.Roxy.StrongTypeMethodTest/packages
/NP.Roxy.MethodOverloadingTest/.vs/NP.Roxy.MethodOverloadingTest/v15
/NP.Roxy.MethodOverloadingTest/obj/Debug
/NP.Roxy.MethodOverloadingTest/packages
/NP.Roxy.MethodOverloadingTest/bin/Debug
